<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Bruh.uno - Shorten Links</title>
<meta property="og:title" content="Bruh.uno - Explore the Internet">
<meta property="og:description" content="A free to use and safe URL Shortener designed by a student at BYU-Idaho.">
<meta property="description" content="A free to use and safe URL Shortener designed by a student at BYU-Idaho.">
<meta property="og:image" content="https://sandbox.bruh.uno/bruh.uno.png">
<meta property="og:url" content="https://sandbox.bruh.uno/go/<%= code %>">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">
<link rel="preconnect" href="//ajax.googleapis.com">
<link rel="dns-prefetch" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
<link rel="dns-prefetch" href="https://use.fontawesome.com">
<link rel="preconnect" href="https://use.fontawesome.com" crossorigin>
<link rel="preconnect" href="//cdnjs.cloudflare.com">
<link rel="stylesheet" href="assets/css/bruh.uno.css"> 