<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bruh.uno - Explore the Internet</title>
    <meta property="og:title" content="Bruh.uno - Explore the Internet">
    <meta property="og:description" content="A free to use and safe URL Shortener designed by a student at BYU-Idaho.">
    <meta property="og:image" content="https://sandbox.bruh.uno/bruh.uno.png">
    <meta property="og:url" content="https://sandbox.bruh.uno/go/<%= code %>">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta http-equiv="refresh" content="0;URL='<%= url %>'">
</head>
<body>
</body>
</html>